# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Mac file
.DS_Store

# Ignore classes build directory
bin/

# Ignore java dependencies
.classpath

# Ignore vscode setting directory
.settings/

# Ignore vscode debug setting directory
.vscode/

# Ignore vscode project settings
.project

# Ignore LogUtil directory
logs/